html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   custom styles
   ========================================================================== */

.d-flex {
  display: flex;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-auto {
  flex: 1 1 auto;
}

.svg-inline--fa {
  color: #fff;
  font-size: 2.4rem;
}

.synergy-blue {
  color: #25b5fc;
}

main {
  background-color: #efefef;
  /*height: 100vh;*/
  display: grid;
  grid-template-rows: 154px 110px 1fr;
  grid-template-columns: 1fr;
}

header {
  background-color: #2b2b2b;
}

nav {
  justify-content: flex-start;
}

.card-header h2 {
  color: #575757;
  font-weight: 500;
  font-size: 2rem;
  padding-left: 2rem;
}

.menu {
  justify-content: flex-end;
  padding: .5rem 2rem 0;
}

.menu svg {
  margin: 10px 10px 0;
}

.navigation svg {
  font-size: 1rem;
  margin: 0 1rem 0 0;
}

.navigation li {
  /*display: inline-block;*/
  margin: 0 0.5em;
  /*text-decoration: none;*/
  list-style-type: none;
}

.navigation li a {
  display: block;
  padding: 1em 0.5em;
  text-decoration: none;
  font-size: 1.1rem;
  color: #9a9a9a;
}

.navigation li a.active {
  color: #fff;
}

nav img {
  height: 50px;
  margin: 1em 0;
}

.logo-container {
  padding: .5rem 3.7rem 0 0;
}

.cards {
  padding-left: 26px;
  flex-wrap: wrap;
}

.card-header {
  align-items: center;
}

.cards__card {
  width: 280px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 8px 8px 0 0;
  display: grid;
  grid-template-rows: 144px 70px 50px 136px;
  -webkit-box-shadow: 0 0 3px 3px rgba(200, 200, 200, 1);
  -moz-box-shadow: 0 0 3px 3px rgba(200, 200, 200, 1);
  box-shadow: 0 0 2px 2px rgb(220, 220, 220);
  box-sizing: border-box;
}

.cards__card--header-image {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.cards__card--header-image svg {
  margin: .7rem 0 0 .7rem;
  color: #25b5fc;
  background-color: rgba(136, 136, 136, 0.75);
  border-radius: 5px;
}

.card-1 {
  background-image: url("../img/1-idiotic-stock.jpg");
}

.card-2 {
  background-image: url("../img/2-idiotic-stock.jpg");
}

.card-3 {
  background-image: url("../img/3-idiotic-stock.jpg");
}

.card-4 {
  background-image: url("../img/9-idiotic-stock.jpg");
}

.card-5 {
  background-image: url("../img/10-idiotic-stock.jpg");
}

.card-6 {
  background-image: url("../img/6-idiotic-stock.jpg");
}

.card-7 {
  background-image: url("../img/7-idiotic-stock.jpg");
}

.card-8 {
  background-image: url("../img/8-idiotic-stock.jpg");
}

.view-container {
  flex-direction: column;
  margin: .5rem .5rem 0 0;
  text-shadow: 0 2px 2px rgba(150, 150, 150, 1);
}

.views {
  text-transform: uppercase;
  font-size: .8rem;
}

.views,
.view-count {
  color: #fff;
}

.view-count {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 100%;
  text-align: center;
}

.last-author {
  padding: 1rem;
}

.folder {
  padding: 1rem 1rem 0 1rem;
}

.last-update {
  color: #818181;
  font-size: 12px
}

.directory {
  margin: 0 1rem;
  background-color: #f0f0f0;
  white-space: normal;
  align-items: center;
}

.directory p {
  color: #818181;
  margin: .5rem;
  text-decoration: none;
  text-transform: capitalize;
}

.attachment {
  text-transform: uppercase;
  color: #4b4b4b;
  font-size: .8rem;
  margin: 0;
}

.attachment-count {
  color: #25b5fc;
  font-size: 2rem;
  margin: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  main {
    background-color: #efefef;
    /*height: 100vh;*/
    display: grid;
    grid-template-rows: auto 110px 1fr;
  }

  .navigation {
    justify-content: center;
    flex-direction: column-reverse;
  }

  nav img {
    margin: 1rem 0 0 0;
  }

  .logo-container {
    justify-content: center;
    padding: .5rem 2rem 0 2rem;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .memu p {
    margin: 12px 0 0 0;
  }
  .svg-inline--fa {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 620px) {
  .navigation li a {
    font-size: 12px;
  }
  .cards {
    margin: 0 auto;
    display: block;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .navigation ul {
    flex-direction: column;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}